body {
 background-image: url("./background.jpg");
 background-size: 100%;
 font-family: 'Space Mono', monospace;

}

#search-div {
  background-color: white;
  margin: 200px auto;
  height: 150px;
  width: 50%;
  border-radius: 15px;
  box-shadow: 5px 10px #6c757d;
}

#article-search {
  text-align: center;
}

#form-group {
  display: inline-block;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-rdius: 0;
    margin-top: 20px;
  }

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 20px;
    }
